<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Žaibo kirtis</title>
    <base href="/dviraciu-remontas/">

    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/css/bootstrap.min.css">
    <link rel="stylesheet" href="fa/css/font-awesome.css">
    <link rel="icon" type="image/x-icon" href="bike.ico">

    <style>
        * {
            font-family: 'Roboto', sans-serif;
        }

        .header {
            padding: 24px;
            background-color: #337ab7;
            color: white;

            font-size: 32px;
        }

        .clickable { cursor: pointer; }
    </style>
</head>
<body ng-app="BicycleSystem">

    <div class="header">
        Žaibo kirtis
        <span>
            <i class="fa fa-bicycle"></i>
            <i class="fa fa-wrench"></i>
        </span>
    </div>

    <div class="container-fluid" ng-controller="MenuController as menu">
        <ul class="nav nav-pills" style="margin-bottom: 12px">

            <li ng-repeat="i in menu.menuItems"
                ng-show="menu.isAllowed(i.permissions)"
            ><a ng-href="{{i.route}}">{{i.display}}</a></li>

            <li ng-if="menu.loggedIn()"><a class="bg-danger clickable" ng-click="menu.logout()">Atsijungti</a></li>
        </ul>

        <div ng-view></div>
    </div>

    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
