<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="client.error"></alert>

            <div class="panel panel-default">
                <div ng-if="!client.model.id" class="panel-heading">
                    Naujas klientas
                </div>
                <div ng-if="client.model.id" class="panel-heading">
                    Kliento redagavimas
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="first-name">Vardas</label>
                            <input type="text"
                                   required
                                   id="first-name"
                                   ng-model="client.model.firstName"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="last-name">Pavardė</label>
                            <input type="text"
                                   required
                                   id="last-name"
                                   ng-model="client.model.lastName"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="birthdate">Gimimo data</label>
                            <input type="date"
                                   required
                                   id="birthdate"
                                   ng-model="client.model.birthdate"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="email">El. paštas</label>
                            <input type="email"
                                   required
                                   id="email"
                                   ng-model="client.model.email"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="phone">Telefono numeris</label>
                            <input type="text"
                                   pattern="[0-9]*"
                                   id="phone"
                                   ng-model="client.model.phone"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="address">Adresas</label>
                            <input type="text"
                                   id="address"
                                   ng-model="client.model.address"
                                   class="form-control"
                            />
                        </fieldset>


                        <fieldset class="form-group">
                            <label for="sex">Lytis</label>
                            <select ng-model="client.model.sex"
                                    class="form-control"
                                    id="sex"
                                    ng-options="at.id as at.name for at in client.sexes">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="date-registered">Registracijos data</label>
                            <input ng-disabled="true" type="date"
                                   id="date-registered"
                                   ng-model="client.model.dateRegistered"
                                   class="form-control"
                            />
                        </fieldset>
                        <fieldset class="form-group">
                        <label for="modified">Paskutinį kartą redaguota</label>
                        <input ng-disabled="true" type="date"
                        id="modified"
                        ng-model="client.model.modified"
                        class="form-control"
                        />
                        </fieldset>



                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="client.submit()" class="btn btn-success">Išsaugoti</a>
                    <a href="clients" class="btn btn-default">Atšaukti</a>
                </div>
            </div>
        </div>
    </div>
</div>