<div class="container" style="margin-top: 12px">
    <alert message="tasks.error"></alert>

    <a href="task" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Pridėti paslaugą</span>
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Kaina</th>
                <th colspan="2">Aprašymas</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in tasks.list">

                <td>{{task.name}}</td>
                <td>{{task.price | currency : "€"}}</td>
                <td>{{task.description}}</td>
                <td><a ng-click="tasks.deleteTask(task)"class="btn btn-link btn-sm"><i class="fa fa-trash"></i></a></td>
                <td><a ng-href="/task/{{task.id}}"><i class="fa fa-pencil-square-o"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>