<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="user.error"></alert>

            <div class="panel panel-default">
                <div ng-if="!user.model.id" class="panel-heading">
                    Naujas vartotojas
                </div>
                <div ng-if="user.model.id" class="panel-heading">
                    Vartotojo redagavimas
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="email">Email</label>
                            <input type="text"
                                   id="email"
                                   ng-model="user.model.email"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="dateRegistered">Registracijos data</label>
                            <input type="date"
                                   id="dateRegistered"
                                   ng-model="user.model.dateRegistered"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="client">Klientas</label>
                            <select ng-model="user.model.clientId"
                                    class="form-control"
                                    id="client"
                                    ng-options="at.id as at.first_name for at in user.clients">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="admin">Administratorius</label>
                            <select ng-model="user.model.adminId"
                                    class="form-control"
                                    id="admin"
                                    ng-options="at.id as at.first_name for at in user.admins">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="accountant">Buhalteris</label>
                            <select ng-model="user.model.accountantId"
                                    class="form-control"
                                    id="accountant"
                                    ng-options="at.id as at.first_name for at in user.accountants">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="mechanic">Mechanikas</label>
                            <select ng-model="user.model.mechanicId"
                                    class="form-control"
                                    id="mechanic"
                                    ng-options="at.id as at.first_name for at in user.mechanics">
                            </select>
                        </fieldset>

                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="user.submit()" class="btn btn-success">Išsaugoti</a>
                    <a href="users" class="btn btn-default">Atšaukti</a>
                </div>
            </div>
        </div>
    </div>
</div>