<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="order.error"></alert>

            <div class="panel panel-default">
                <div ng-if="!order.model.id" class="panel-heading">
                    Naujas užsakymas
                </div>
                <div ng-if="order.model.id" class="panel-heading">
                    Užsakymo redagavimas
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="bike">Dviratis</label>
                            <select ng-model="order.model.bike"
                                    class="form-control"
                                    id="bike"
                                    ng-options="b.id as b.model for b in order.bikes">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="service">Servisas</label>
                            <select ng-model="order.model.service"
                                    class="form-control"
                                    id="service"
                                    ng-options="s.id as s.name for s in order.services">
                            </select>
                        </fieldset>

                        <div class="panel panel-default">
                            <div class="panel-heading">Paslaugos</div>
                            <div class="panel-body">
                                <fieldset class="form-group" ng-repeat="task in order.tasks" ng-if="task.id">
                                    <label for="task-{{task.id}}">
                                        <input ng-model="task.selected"
                                               type="checkbox"
                                               id="task-{{task.id}}"
                                               ng-true-value="1"
                                               ng-false-value="0"
                                        >
                                        {{task.name}}
                                    </label>
                                </fieldset>
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <label for="urgent">
                                <input ng-model="order.model.urgent"
                                       type="checkbox"
                                       id="urgent"
                                       ng-true-value="1"
                                       ng-false-value="0"
                                >
                                Skubus
                            </label>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="comment">Komentarai</label>
                            <textarea
                                    id="comment"
                                    ng-model="bike.model.comment"
                                    class="form-control"
                            ></textarea>
                        </fieldset>
                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="order.submit()" class="btn btn-success">Save</a>
                    <a href="orders" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>