<div class="container" style="margin-top: 12px" xmlns="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <alert message="mechanic.error"></alert>

            <div class="panel panel-default">
                <div ng-if="!mechanic.model.id" class="panel-heading">
                    Naujas mechanikas
                </div>
                <div ng-if="mechanic.model.id" class="panel-heading">
                    Mechaniko redagavimas
                </div>

                <div class="panel-body">
                    <form>
                        <fieldset class="form-group">
                            <label for="first-name">Vardas</label>
                            <input type="text"
                                   id="first-name"
                                   ng-model="mechanic.model.firstName"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="last-name">Pavardė</label>
                            <input type="text"
                                   id="last-name"
                                   ng-model="mechanic.model.lastName"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="email">El. paštas</label>
                            <input type="email"
                                   id="email"
                                   ng-model="mechanic.model.email"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="birthdate">Gimimo data</label>
                            <input type="date"
                                   id="birthdate"
                                   ng-model="mechanic.model.birthdate"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="phone">Telefono numeris</label>
                            <input type="text"
                                   id="phone"
                                   ng-model="mechanic.model.phone"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="sex">Lytis</label>
                            <select ng-model="mechanic.model.sex"
                                    class="form-control"
                                    id="sex"
                                    ng-options="at.id as at.name for at in mechanic.sexes">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="specialization">Specializacija</label>
                            <input type="text"
                                   id="specialization"
                                   ng-model="mechanic.model.specialization"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="date-hired">Įdarbinimo data</label>
                            <input type="date"
                                   id="date-hired"
                                   ng-model="mechanic.model.dateHired"
                                   class="form-control"
                            />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="work-hours">Darbo trukmė</label>
                            <input type="text"
                                   id="work-hours"
                                   ng-model="mechanic.model.workHours"
                                   class="form-control"
                            />
                        </fieldset>


                        <fieldset class="form-group">
                            <label for="dateLastPayed">Paskutinė algos gavimo data</label>
                            <input type="date"
                                   id="dateLastPayed"
                                   ng-model="mechanic.model.dateLastPayed"
                                   class="form-control"
                            />
                        </fieldset>


                        <fieldset class="form-group">
                            <label for="service">Servisas</label>
                            <select ng-model="mechanic.model.service"
                                    class="form-control"
                                    id="service"
                                    ng-options="at.id as at.name for at in mechanic.services">
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="modified">Paskutinį kartą keistas</label>
                            <input ng-disabled="true" type="modified"
                                   id="modified"
                                   ng-model="mechanic.model.modified"
                                   class="form-control"
                            />
                        </fieldset>



                    </form>
                </div>

                <div class="panel-footer">
                    <a ng-click="mechanic.submit()" class="btn btn-success">Išsaugoti</a>
                    <a href="mechanics" class="btn btn-default">Atšaukti</a>
                </div>
            </div>
        </div>
    </div>
</div>