<div>
    <fieldset class="form-group" ng-repeat="item in builder.model track by $index">
        <div class="input-group">
            <select class="form-control clickable"
                    ng-options="i.id as i.name for i in builder.map"
                    ng-model="builder.model[ $index ]"
            ></select>

            <span class="input-group-btn">
                <button class="btn btn-default" ng-click="builder.removeItem( $index )" ><i class="fa fa-remove"></i></button>
            </span>
        </div>

    </fieldset>


    <button ng-click="builder.addItem()" class="btn btn-default">{{builder.addLabel}}</button>
</div>
